<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/error.css" />
    <title>Error</title>
  </head>
  <body>
    <div class="page">
      <h1>Oops! Page not Found :(</h1>
      <a
        href="https://www.youtube.com/watch?v=3CkjfsH-4cw&ab_channel=%D0%94%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE%D0%B9%D1%83%D1%82%D0%BA%D0%BE%D0%BD%D0%BE%D1%81"
        ><img
          src="https://i.pinimg.com/564x/43/31/1c/43311c7ab2ceda99c50141d4066455dd.jpg"
          alt=""
      /></a>
    </div>
  </body>
</html>
